@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.attribution {
  font-size: 11px;
  position: fixed;
  width: 100%;
  padding: 10px;
  bottom: 0;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}
body {
  font-family: "Karla", sans-serif;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
}
.container {
  width: 100%;
  max-width: 600px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  border-radius: 7px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.join {
  grid-area: 1 / 1 / 2 / 3;
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.monthly {
  grid-area: 2 / 1 / 3 / 2;
  background-color: var(--cyan);
  color: white;
}
.why {
  grid-area: 2 / 2 / 3 / 3;
  background-color: hsla(179, 62%, 43%, 0.747);
  color: white;
}
.box {
  padding: 20px 30px;
}
.main-text {
  margin-bottom: 20px;
}
.join-text {
  color: var(--cyan);
}
.sub-text {
  color: var(--bright-yellow);
  margin-bottom: 20px;
}
.special {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--light-gray);
}
.gray {
  color: hsl(203, 71%, 91%);
}
h1 {
  font-size: 1.5rem;
}

.big {
  font-size: 1.8rem;
  color: white;
}
.sign-up {
  margin-top: 10px;
  width: 100%;
  border: none;
  background-color: var(--bright-yellow);
  color: white;
  padding: 15px 0px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 500px) {
    body{
        padding: 0px 20px;
    }
  .container {
    grid-template-rows: auto;
    grid-template-columns: 1fr; /* Stack items in one column */
  }

  .join {
    grid-area: 1 / 1 / 2 / 2;
  }

  .monthly {
    grid-area: 2 / 1 / 3 / 2;
  }

  .why {
    grid-area: 3 / 1 / 4 / 2;
  }
}
